.Button {
    padding: 10px;
    margin: 10px;

    font: inherit;
    color: #fff;
    font-weight: 700;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;   
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    
    cursor: not-allowed;
}

.Success {
    color: #5c9210;
}

.Danger {
    color: #944317;
}